*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display';
}

@font-face {
    font-family: 'PlayFair';
    src: url('../fonts/static/PlayfairDisplay-Regular.ttf');
}

body {
    background-color: #FFF4CF;

}

main{
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100vh;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #FFF4CF;
}

@media screen and (min-width: 1200px){
    header{
        z-index: 1000;
        position: fixed;
        display: grid;
        grid-template-columns: 147px 147px 147px 147px 147px 147px 147px;
        grid-auto-rows: max-content;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 139px;
        background: #201007;
    }
    
    .navbar{
        display: flex;
        gap: 120px;
    }
    
    .nav-menu{
        display: flex;
        text-wrap: nowrap;
        width: 184px;
        height: 114px;
        align-items: center;
        gap: 100px;
        font-family: 'PlayFair-Display-semibold';
    }

    #nav-link3{
        display: flex;
        gap: 15px;
    }

    #nav-link3 a{
        margin-top: 5px;
    }
    
    #nav-link5{
        margin-right: 64px;
    }

    .login{
        width: 100%;
        color: #201007;
        margin-top: 250px;
        display: grid;
        grid-template-columns: repeat(7, 147px);
        justify-content: center;
    }

    #login-title{
        grid-column: span 7;
        justify-self: center;
        color: #201007;
        font-weight: 700;
    }

    #login-in{
        grid-column: span 7;
        margin-top: 70px;
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(2, 362px);
        gap: 55px;
    }

    #login-inputs{
        justify-self: center;
        grid-column: span 2;
        width: 480.042px;
        padding: 5px 0px 5px 3px;
        height: 22px;
        color: rgba(32, 16, 7, 0.80);
        background-color: #FFF4CF;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 2.86px;
        border-bottom-color: #201007;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .Senha{
        grid-column: span 2;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .Senha a{
        margin-top: 5px;
        letter-spacing: 0;
        align-self: end;
        color: #201007;
        font-size: 16px;
        text-decoration-line: underline;
        margin-bottom: 13px;
    }

    #btn-submit{
        grid-column: span 2;
        justify-self: center;
        align-self: center;
        margin-bottom: 122px;
        margin-top: 67px;
        width: 149px;
        height: 48px;
        background-color: rgba(32, 16, 7, 0.97);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF4CF;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
    }

    .showLoginResult{
        grid-column: span 7;
        justify-self: center;
        align-self: center;
        font-size: 25px;
        font-weight: 700;
        margin-top: -50px;
        margin-bottom: 75px;
    }

    footer{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #FFF4CF;
        margin-top: 55px;
        height: 366px;
        background-color: #201007;
        border-top: 1px solid #FFF4CF;
    }

    #capulusblend_logo-2{
        margin-top: -65px;
    }

    #capulus-enterprise{
        margin-top: 24px;
        color: #FFF4CF;
        font-size: 15px;
        font-weight: 400;
    }

    #footer-menu1{
        display: flex;
        justify-content: center;
        margin-top: 66px;
        gap: 50px;
        color: #FFF4CF;
        font-size: 20px;
        font-weight: 700;
    }

    #footer-menu2{
        display: flex;
        margin-top: 45px;
        gap: 40px;
        height: 18px;
        color: #FFF4CF;
        font-size: 18px;
        font-weight: 400;
    }

    .socialmedias{
        margin-top: 33px;
        width: 100%;
        height: 77px;
        background: #FFF4CF;
    }

    #footer-menu3{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 23px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1199px){
    header{
        z-index: 1000;
        position: fixed;
        display: grid;
        grid-template-columns: 147px 147px 147px 147px 147px 147px 147px;
        grid-auto-rows: max-content;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        background: #201007;
    }
    
    .navbar{
        gap: 270px;
        display: flex;
    }

    #navlogo img{
        margin-left: 75px;
        margin-top: 15px;
        width: 75px;
    }
    
    .nav-menu{
        display: flex;
        text-wrap: nowrap;
        width: 184px;
        height: 100px;
        align-items: center;
        gap: 50px;
        font-family: 'PlayFair-Display-semibold';
        font-size: 12px;
    }

    #nav-link3{
        display: flex;
        gap: 15px;
    }

    #nav-link3 a{
        margin-top: 5px;
    }
    
    #nav-link5{
        margin-right: 64px;
    }

    .login{
        width: 100%;
        color: #201007;
        margin-top: 250px;
        display: grid;
        justify-content: center;
    }

    #login-title{
        grid-column: span 7;
        justify-self: center;
        color: #201007;
        font-weight: 700;
        font-size: 20px;
    }

    #login-in{
        grid-column: span 7;
        margin-top: 70px;
        justify-self: center;
        display: grid;
        grid-template-columns: repeat(2, 362px);
        gap: 35px;
    }

    #login-inputs{
        justify-self: center;
        grid-column: span 2;
        width: 480.042px;
        padding: 5px 0px 5px 3px;
        height: 22px;
        color: rgba(32, 16, 7, 0.80);
        background-color: #FFF4CF;
        font-size: 11px;
        font-weight: 400;
        letter-spacing: 2.86px;
        border-bottom-color: #201007;
        border-top: none;
        border-left: none;
        border-right: none;
    }

    .Senha{
        grid-column: span 2;
        justify-self: center;
        align-self: center;
        display: flex;
        flex-direction: column;
    }

    .Senha a{
        margin-top: 15px;
        letter-spacing: 0;
        align-self: end;
        color: #201007;
        font-size: 12px;
        text-decoration-line: underline;
    }

    #btn-submit{
        grid-column: span 2;
        justify-self: center;
        align-self: center;
        margin-bottom: 122px;
        margin-top: 67px;
        width: 119px;
        height: 38px;
        background-color: rgba(32, 16, 7, 0.97);
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFF4CF;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
    }

    .showLoginResult{
        grid-column: span 7;
        justify-self: center;
        align-self: center;
        font-size: 18px;
        font-weight: 700;
        margin-top: -50px;
        margin-bottom: 75px;
    }

    footer{
        margin-top: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #FFF4CF;
        margin-top: 55px;
        height: 366px;
        background-color: #201007;
        border-top: 1px solid #FFF4CF;
    }

    #capulusblend_logo-2{
        margin-top: -50px;
    }

    #capulusblend_logo-2{
        width: 100px;
    }

    #capulus-enterprise{
        margin-top: 34px;
        color: #FFF4CF;
        font-size: 12px;
        font-weight: 400;
    }

    #footer-menu1{
        display: flex;
        justify-content: center;
        margin-top: 66px;
        gap: 50px;
        color: #FFF4CF;
        font-size: 14px;
        font-weight: 700;
    }

    #footer-menu2{
        display: flex;
        margin-top: 45px;
        gap: 40px;
        height: 18px;
        color: #FFF4CF;
        font-size: 12px;
        font-weight: 400;
    }

    .socialmedias{
        margin-top: 33px;
        width: 100%;
        height: 77px;
        background: #FFF4CF;
    }

    .socialmedias img{
        width: 25px;
    }

    #footer-menu3{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 23px;
    }
}